*.c text diff=c linguist-language=c
*.h text diff=c linguist-language=c
*.vert text diff=glsl linguist-language=glsl
*.frag text diff=glsl linguist-language=glsl

include/** linguist-detectable=false
