*.c text diff=c linguist-language=c
*.h text diff=c linguist-language=c
*.cpp text diff=cpp linguist-language=cpp
*.hpp text diff=cpp linguist-language=cpp
*.vert text diff=glsl linguist-language=glsl
*.frag text diff=glsl linguist-language=glsl

include/** linguist-detectable=false
